body {
	background-color: white;
	/*	width: 960px;*/
	margin: 0px auto;
	padding-left: 10rem;
	padding-right: 10rem;
}

.logo {

	width: 96px;
	height: auto;
}

.headdiv {
	display: flex;
	justify-content: space-evenly;
	/*	background-color: red;*/
	border-radius: 10px;
	height: 30px;
	border: solid black;
	padding-top: 15px;
	background-color: lightgreen;
}

a {
	text-decoration: none;
	color: black;
}

.banner {

	width: 100%;
}

.h1div {
	display: flex;
	justify-content: center;
	border-radius: 10px;
	background-color: lightgreen;
	border: solid black;
}

.servdiv {
	display: flex;
	justify-content: space-evenly;
}

.servimg {
	width: 100%;
	height: auto;
}

.banner-division{
	display: flex;
	justify-content: space-evenly;


}

.banner_img {
	padding-left: 100px;
}


.quote-image {
	width: 500px;
	height: auto;
}

/*=========Mission Statement======*/
.mission-image{
	width: 49%;
	float: left;
}
.mission-statement{
	width: 49%;
	float:right;
}
.mission-statement h2 {
	padding-left: 20px;
}

.mission-statement p {
	padding-left: 20px;
}

/*========Form Styles======*/
input {
	width: 960px;
	height:50px;
	text-align: center;
	border-radius: 10px;
	border:solid 3px black;
	padding-left: 10px;
	background-color: white;
	font-size: 1rem;
	color: black;
}

.contact-div {
	display: flex;
	justify-content: center;
}

button {
	font-size: 15px;
	border-radius: 15px;
	padding: 10px 20px;
	border: solid black;
	width: 19rem;
	cursor: pointer;
	background-color: lightgreen;

}