body {
	width: 960px;
	margin: 0px auto;
}

.headdiv {
	display: flex;
	justify-content: space-evenly;
/*	background-color: red;*/
	border-radius: 10px;
	height: 30px;
	border: solid black;
	padding-top: 15px;
	background-color: lightgreen;
}

a {
	text-decoration: none;
	color: black;
}

.logo {
	
	width: 96px;
	height: auto;
}

input {
	width: 960px;
	height:50px;
	text-align: center;
	border-radius: 10px;
	border:solid 3px black;
	padding-left: 10px;
	background-color: white;
	font-size: 1rem;
	color: black;
}

.contact-div {
	display: flex;
	justify-content: center;
}

button {
	font-size: 15px;
	border-radius: 15px;
	padding: 10px 20px;
	border: solid black;
	width: 19rem;
	cursor: pointer;
	background-color: lightgreen;

}

.help {
	display: flex;
	justify-content: space-evenly;
	padding-top: 10px;
}