body {
	margin: 0px auto;
	width: 960px;
	background-color: white;
}

.headdiv {
	display: flex;
	justify-content: space-evenly;
/*	background-color: red;*/
	border-radius: 10px;
	height: 30px;
	border: solid black;
	padding-top: 15px;
	background-color: lightgreen;
}

a {
	text-decoration: none;
	color: black;
}

.logo {
	
	width: 96px;
	height: auto;
}

.image-head-div {
	display: flex;
	justify-content: center;
}

.help {
	display: flex;
	justify-content: space-evenly;
	padding-top: 10px;
}

.banner_img {
	padding-left: 40px;
}

.div-images {
	padding-left: 20px;
}